
<% if (locals.errorMessage) { %>
<div class="error-message">
    <p><%= errorMessage %></p>
</div>

<% } else { %>
<h1>Random Artwork</h1>
<img src="<%= image %>" alt="Random Artwork" width="500px">
<p>Title: <%= title %></p>
<p>Artist: <%= artist %></p>
<% } %>