body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #423F3E;
  color: whitesmoke;
  padding: 1rem;
  padding-bottom: 40px;
}

header a {
  color: #423F3E;
  text-decoration: none;
  padding: 7px;
  background-color: bisque;
  border-radius: 5px;
  margin-right: 10px;
}

header a:last-child {
  margin-right: 0;
}

header nav a:hover {
  background-color: #7a655e;
  color: white;  
}

header nav a:active {
  background-color: #a68852;
  color: white;
}

main {
  padding: 1rem;
  flex-grow: 1;
}

footer {
  background-color: #2B2B2B;
  color: whitesmoke;
  padding: 1rem;
}

img {
  border: 10px solid #423F3E;
  padding: 30px 20px 30px 20px;
}